{% extends "layout.html" %}
{% block body %}
		<script type="text/javascript">
		jQuery(document).ready(function () {
			$(function () {
				var _email = $("#email");
				var output = $("#output");

				_email.keyup(function () {
					// output.text(email.val());
					// var emailTxt = _email.val();
					$.ajax({
					  type: "POST",
					  url: "check",
					  data: {
					  	email: _email.val().trim(),
					  	data: {{data_string}}
					  },
					  success: function (data) {
					  	console.log(data)
					  	// response = jQuery.parseJSON( data )
					  	if (data.status == 'true') {
					  		output.text("Yeeeah! Its yours.");
					  	} else {
					  		output.text("This is not your badge :(");
					  	}
					  }
					});
				})
				
			})




			if (!!FileReader && Modernizr.draganddrop) {
			  // sexy drag and drop action
			} else {
			  // no drag and drop support available :(
			}
		})
		</script>

	<h1> <a href="{{data.badge.criteria}}">{{data.badge.name}} </a> </h1><br/>
	<img src="{{data.badge.image}}" > </img> <br/>
	<p style="color: white;">{{data.badge.description}}</p> <br/>
    <input type="text" id="email" placeholder="Enter email here" autocomplete="off" autofocus="autofocus">
    <h1 id="output">Hello {{yourName}}!</h1>
	   
{% endblock %}
