{% extends "layout.html" %}
{% block body %}
	<div id="error" class="alert alert-error" style="
    width: 300px;
    position: relative;
    display: none;  
    margin-left: auto;   margin-right: auto;">
		<b>Error</b> {{errorData}}
	</div>
	<h1>OpenBadge Verifier</h1>
	<img src="/images/newbie.png"> </img>
	<h1>Upload your badge here</h1>
	<form action="" method="post" enctype="multipart/form-data">
		<label></label>
		<input type="file" name="file" id="file" class="btn">
		<input type="submit" name="submit" value="Submit" class="btn">
	</form>

	<script type="text/javascript">
	jQuery(document).ready(function () {
		var error="{{error}}";
		if (error){
			$("#error").fadeIn();
		}
	});
	</script>
{% endblock %}