<!DOCTYPE html>
<html>
<head>
	<title>OpenBadges Verifier</title>
	<!-- <script type="text/javascript" href="/javascripts/file.js"></script> -->
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/checker.js"></script>
	<script type="text/javascript" src="/javascripts/modernizr.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>